# yaml-language-server: $schema=https://json.schemastore.org/github-issue-config.json
blank_issues_enabled: true
contact_links:
  - name: {{ organization_name }}
    url: {{ organization_url }}
    about: Contact
  - name: Questions
    url: https://github.com/{{ organization_name }}/{{ project_name }}/discussions
    about: Ask questions here instead of opening an issue
